/* .menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
} */

.my-5{
  width: 100%;
  background-color: rgb(213, 181, 181);
  
  
  
  display: flex;
  gap: 5px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}