.fixed-div {
  position: fixed;
  top: 20px;
  left: 10px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.food-card-container {
  margin-left: 70px;
  padding-top: 20px;
}

.food-card {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.burger {
  background-color: #d9534f;
}

.momo {
  background-color: #5bc0de;
}

.soup {
  background-color: #5cb85c;
}



.navigation-dots {
  text-align: center;
  margin-top: 10px;
}

.navigation-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-dots .dot.active {
  background-color: #333;
}